<!DOCTYPE html>
<html lang="en" class="light-theme">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="icons/any.svg" />
    <meta name="theme-color" content="#ffffff" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
    <link rel="manifest" href="manifest.webmanifest" />

    <meta name="robots" content="noindex" />

    <title><%= TITLE %></title>

    <script>
      document.documentElement.style.cssText = localStorage.getItem("theme-styles");
      const darkTheme = localStorage.getItem("dark-theme") === "true";
      document.documentElement.classList.toggle("light-theme", !darkTheme);
      document.querySelector('meta[name="theme-color"]').content = darkTheme ? "#121212" : "#ffffff";
    </script>

    <% if (DEVELOPMENT) { %>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700" rel="stylesheet" />
    <% } %>
    <link rel="stylesheet" href="/resources/style.css" />
    <script type="module" src="/src/main.ts"></script>
  </head>
  <body>
    <span id="lcp" aria-hidden="true">Othello</span>
    <div id="board">
      <% for (let i = 0; i < 64; i++) { %>
      <button class="cell"></button>
      <% } %>
    </div>
    <div id="soft-keys">
      <span id="soft-left"></span>
      <span id="soft-enter"></span>
      <span id="soft-right"></span>
    </div>
    <dialog id="settings-dialog">
      <h1>Settings</h1>
      <div class="body">
        <label id="difficulty">
          <span class="label">Difficulty</span>
          <output id="difficulty-output"></output>
          <input id="difficulty-input" type="range" min="0" max="4" step="1" />
        </label>
        <label id="enable-hints">
          <span class="label">Show Hints</span>
          <input id="enable-hints-input" type="checkbox" />
        </label>
        <label id="dark-theme">
          <span class="label">Dark Theme</span>
          <input id="dark-theme-input" type="checkbox" />
        </label>
        <div id="color-theme">
          <span class="label">Color Theme</span>
          <output id="theme-output"></output>
          <theme-selector></theme-selector>
        </div>
      </div>
    </dialog>
    <dialog id="game-over-dialog">
      <h1 class="title"></h1>
      <p class="body"></p>
    </dialog>
    <div id="toast-container"></div>
    <template id="toast-template">
      <div role="alert" class="toast">
        <snap class="text"></snap>
      </div>
    </template>
  </body>
</html>
