<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="icons/any.svg" />
    <link rel="apple-touch-icon" sizes="any" href="icons/square.svg" />
    <link rel="apple-touch-icon" sizes="120x120" href="icons/square-120.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="icons/square-180.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Othello</title>
    <link rel="preload" href="/resources/roboto.woff2" as="font" type="font/woff2" crossorigin />
    <link rel="stylesheet" href="/resources/style.css" />
    <script type="module" src="/src/main.ts"></script>
  </head>
  <body>
    <div id="board">
      <% for (let i = 0; i < 64; i++) { %>
      <button class="cell"></button>
      <% } %>
    </div>
    <button id="settings-button" class="icon-button">
      <svg style="width: 24px; height: 24px" viewBox="0 0 24 24">
        <path fill="currentcolor" d="<%- mdiCog %>" />
      </svg>
    </button>
    <dialog id="settings-dialog">
      <h1>Settings</h1>
      <div>
        <label for="difficulty-input">Difficulty</label>
        <input id="difficulty-input" type="range" min="0" max="5" step="1" />
      </div>
      <div>
        <label for="enable-hints-input">Show Hints</label>
        <input id="enable-hints-input" type="checkbox" />
      </div>
      <button id="close-settings" class="icon-button">
        <svg style="width: 24px; height: 24px" viewBox="0 0 24 24">
          <path fill="currentcolor" d="<%- mdiClose %>" />
        </svg>
      </button>
    </dialog>
    <span id="waiting" class="hidden" role="status">waiting for opponent...</span>
    <template id="alert-template">
      <dialog>
        <p class="body"></p>
        <div class="buttons">
          <button class="ok">Ok</button>
        </div>
      </dialog>
    </template>
  </body>
</html>
