:host {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 6px;
}

label {
  display: contents;
}

input {
  appearance: none;
  position: absolute;
  background: transparent;
}

svg {
  display: block;
  background-color: var(--board-background);
  border-radius: 20%;
}

input:checked + svg {
  box-shadow: 0 0 0 2px currentColor;
}

.disk {
  border-radius: 100vmax;
}

.disk.player {
  background-color: var(--player);
}

.disk.ai {
  background-color: var(--ai);
}
