:root {
  --gutter-width: 1.8vmin;
  --statusbar-height: 26px;

  /* fallback for first page load */
  --board-background: #008000;
  --board-cell: #006800;
  --player: #000000;
  --ai: #ffffff;

  --surface: #121212;
  --on-surface: #ffffff;
  --on-surface-20: #ffffff20;
  --on-surface-30: #ffffff30;
  --soft-button-surface: #333333;
  --accent-on-surface: var(--accent-light);
  --accent-on-surface-20: var(--accent-light-20);
  --accent-on-surface-30: var(--accent-light-30);

  font-family: "Open Sans";
  font-size: 14px;
}

:root.light-theme {
  --surface: #ffffff;
  --on-surface: #000000;
  --on-surface-20: #00000020;
  --on-surface-30: #00000030;
  --soft-button-surface: #cccccc;
  --accent-on-surface: var(--accent-dark);
  --accent-on-surface-20: var(--accent-dark-20);
  --accent-on-surface-30: var(--accent-dark-30);
}

* {
  box-sizing: border-box;
}

html {
  background-color: var(--surface);
  color: var(--on-surface);
}

input {
  accent-color: var(--accent-on-surface);
}

select {
  appearance: none;
  border: none;
  background: transparent;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  text-align: end;
}

input[type="checkbox"] {
  appearance: none;
  border: none;
  width: 24px;
  height: 24px;
  margin: 0;
  background: var(--accent-on-surface);
  mask-image: url(../node_modules/@mdi/svg/svg/checkbox-blank-outline.svg);
}

input[type="checkbox"]::before,
input[type="checkbox"]::after {
  display: none;
}

input[type="checkbox"]:checked {
  mask-image: url(../node_modules/@mdi/svg/svg/checkbox-marked.svg);
}

button {
  appearance: none;
  border: none;
  background: transparent;
}

body {
  width: 100vw;
  height: 100vh;
  width: 100dvw;
  height: 100dvh;
  margin: 0;
  display: grid;
  padding-top: var(--statusbar-height);
  grid-template-rows: 1fr 30px;
}

h1 {
  font-size: 17px;
  font-weight: 400;
  text-align: center;
}

#lcp {
  position: absolute;
  color: transparent;
  pointer-events: none;
}

#board {
  place-self: center;
  --size: calc(min(calc(100vh - 30px - var(--statusbar-height)), 100vw) - 4 * var(--gutter-width));
  width: var(--size);
  height: var(--size);
  contain: strict;
  background-color: var(--board-background);
  padding: var(--gutter-width);
  gap: var(--gutter-width);
  display: grid;
  grid-template: repeat(8, 1fr) / repeat(8, 1fr);
  place-content: stretch;
  border-radius: var(--gutter-width);
}

button.cell {
  position: relative;
  height: unset;
  padding: 0;
  background-color: var(--board-cell);
  border-radius: calc(var(--gutter-width) / 2);
  display: grid;
  place-content: center;
  grid-template-columns: 85%;
}

@keyframes grow {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}

.cell::before {
  padding-bottom: 100%;
  border-radius: 100vmax;
  transition:
    box-shadow 0.5s ease-in-out 0s,
    transform 0.5s ease-in-out 0s,
    background-color 0s step-start 0.25s;
}

.cell.black::before,
.cell.white::before {
  content: "";
  animation: grow 0.5s ease-in-out;
}

.cell.white::before {
  background-color: var(--ai);
  transform: scaleY(1);
}

.cell.black::before {
  background-color: var(--player);
  transform: scaleY(-1);
}

.hints-enabled.player-turn .cell.valid::before {
  content: "";
  box-shadow: inset 0 0 8px 1px var(--hint);
}

.cell #cursor {
  position: absolute;
  top: 7.5%;
  bottom: 7.5%;
  left: 7.5%;
  right: 7.5%;
  border-radius: 100vmax;
  --outline-color: white;
  box-shadow: inset 0 0 0 2px var(--outline-color);
}

.cell.white #cursor {
  --outline-color: var(--player);
}

.cell.black #cursor {
  --outline-color: var(--ai);
}

#soft-keys {
  z-index: 2;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  background-color: var(--soft-button-surface);
  padding: 4px;
}

#soft-left,
#soft-right {
  text-transform: capitalize;
  font-weight: 600;
}

#soft-left {
  text-align: left;
}

#soft-right {
  text-align: right;
}

#soft-enter {
  text-transform: uppercase;
  font-size: 17px;
  font-weight: 700;
  text-align: center;
}

#settings .body > * {
  margin-inline: -8px;
  padding: 8px 16px;
  display: grid;
  grid-template:
    "label value"  24px
    "control control"  auto
    / 1fr auto;
  align-items: center;
}

#settings .body > .focus {
  background-color: var(--fab-background);
  color: var(--fab-foreground);
  --accent-on-surface: var(--fab-foreground);
}

#settings .body > * theme-selector {
  grid-area: control;
}

#settings #color-theme {
  gap: 12px 0;
  padding-bottom: 12px;
}

#settings .label {
  font-size: 17px;
  font-weight: 400;
}

#settings output {
  font-size: 14px;
  font-weight: 400;
}

#close-settings {
  position: absolute;
  top: 0;
  right: 0;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.dialog {
  position: fixed;
  z-index: 1000;
  left: 0;
  right: 0;
  top: var(--statusbar-height);
  bottom: 30px;
  display: grid;
  grid-template-rows: auto 1fr;
  background-color: var(--surface);
  color: var(--on-surface);
  animation: fade-in 0.2s ease-in-out;
}

.dialog:not(.open) {
  display: none;
}

.dialog.closing {
  animation: fade-out 0.2s ease-in-out forwards;
}

.dialog .title {
  margin: 0;
  margin-bottom: 16px;
}

.dialog .body {
  margin: 0;
  padding: 8px;
  overflow-y: auto;
  overscroll-behavior: contain;
}

.dialog h1 {
  margin: 0;
  margin-top: 8px;
}

#game-over table {
  width: 100%;
  line-height: 24px;
}

#game-over th {
  text-align: start;
  font-size: 17px;
  font-weight: 600;
}

#game-over td {
  text-align: end;
  font-size: 17px;
  font-weight: 400;
}

#toast-container {
  z-index: 1;
  position: fixed;
  bottom: 30px;
  left: 0;
  display: grid;
  padding: 8px;
  gap: 8px;
  justify-items: start;
}

.toast {
  border-radius: 16px;
  padding: 0 12px;
  height: 32px;
  border: solid 1px var(--on-surface-30);
  background-color: var(--surface);
  color: var(--on-surface);
}

.toast > .text {
  line-height: 32px;
}
